# EditorConfig <http://EditorConfig.org>

# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 2
