@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$body-font-family: "Inter", sans-serif;

h1,
.text-alpha {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size: $font-size-10 !important;
  font-style: normal;
  font-weight: 800 !important;
}